
@{


    Layout = "~/Areas/User/Views/Shared/_LayoutPage1.cshtml";
}

<table width="100%" cellpadding="2" cellspacing="2" border="0">
    <tr>
        <td colspan="3">
            <b style="font-size:20px">Member's Corner</b>
        </td>
    </tr>

    <tr>
        <td colspan="3">
            Select any of the servise below to take action or simly learn more..
        </td>
    </tr>

    <tr>
        <td width="5%"></td>
        <td width="5%">
            
            <img src="~/Areas/User/Images/stock-vector-account-icons-vector-132166439.jpg" />
        </td>
        <td>

            <a href="@Url.Action("MyAccount","Home")" class="link1" style="font-size:14px">My Account</a>
            <br />
            Reviw and edit the basics, like your name, login informatiom, and mailing address..
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
           
            <img src="~/Areas/User/Images/myremider.PNG" alt="MyReminders" />
        </td>

        <td>
            <a href="@Url.Action("MyReminders","Home")" class="link1" style="font-size:14px">My Reminders</a>
            <br />
            Add, View &Aacute; Edit your reminders
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
          
            <img src="~/Areas/User/Images/fa.PNG" alt="FaceBook" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Coonect to FaceBook</a>
            <br />
            Link your facebook account!!
        </td>
    </tr>
    
    
    <tr>
        <td width="5%"></td>
        <td width="5%">
         
            <img src="~/Areas/User/Images/addresebook.PNG" alt="AddressBook"/>
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px"> Address Book</a>
            <br />
            Manage your addresss book for all your friend and family...
        </td>
    </tr>



    <tr>
        <td width="5%"></td>
        <td width="5%">
          
            <img src="~/Areas/User/Images/calander.jpg" alt="EventCalender"/>  
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Birthday Reminder Calender </a>
            <br />
            View and Print a monthly calender personalized with you reminders!!...
        </td>
    </tr>


    <tr>
        <td width="5%"></td>
        <td width="5%">
           
            <img src="~/Areas/User/Images/myremider.PNG" alt="BirthdayRequester"  />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px"> BirthdayRequester</a>
            <br />
            Ask your friends anf family to provide you their birthday by sending them a birthday request!...
        </td>
    </tr>



    <tr>
        <td width="5%"></td>
        <td width="5%">
            @*<img src="~/Images/ReminderLogo.jpg" alt="BirthdayRequester" />*@
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px"> BirthdayRequester</a>
            <br />
            Ask your friends anf family to provide you their birthday by sending them a birthday request!...
        </td>
    </tr>


    <tr>
        <td></td>
        <td></td>
        <td align="justify">
            <a href="#" class="link1" style="font-size:14px">Cancel Membership</a>
            <br />
           <b align="justify"> This utility will cancel your membership with way2Reminder.com</b>
        </td>
    </tr>

</table>