
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_EventReminderLayout.cshtml";
}

<h2>Registration</h2>

<div class="container">
    <div class="row" align="center">
        <div class="col-md-6" style="border:solid">
            <div class="customDiv" style="width:20px">
                <form>
                    <div>
                        <h4>JoinNow</h4>
                    </div>
                    <div>
                        <ul>
                            <li>Never forget</li>
                            <li>Convenent</li>
                            <li>Time Saving</li>
                            <li>Feedback</li>

                        </ul>

                    </div>
                    <div align="center">
                        <b align="center">
                            @Html.ActionLink("JoinNow","Registration","Home")
                        </b>

                    </div>
                    <div class="col-md-5" style="border:solid;margin:8px">
                        <div>
                            <h4>JoinNow</h4>
                        </div>
                        <div>
                            <ul>
                                <li>Never forget</li>
                                <li>Convenent</li>
                                <li>Time Saving</li>
                                <li>Feedback</li>

                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
        </div>
</div>